.colorBadge{
    background-color: #f4f5f8;
    width: 180px;
}

#container {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #8c8c8c;

    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-slides {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.featured-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

ion-searchbar {
    --icon-color: var(--ion-color-medium);
}

ion-content {
    --padding-top: 0px;
}

.sticky-row {
    position: sticky;
    top: calc(env(safe-area-inset-top) - 30px);
    z-index: 2;
    background: #4c8dff;
    box-shadow: 0px 9px 11px -15px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.info-row {
    background: #4c8dff;
    position: sticky;
    top: calc(env(safe-area-inset-top) - 40px);
    z-index: 2;
}

ion-refresher {
    padding-top: calc(env(safe-area-inset-top) + 50px);
}

.location-visible {
    opacity: 1;
    transition: .5s;
}

.location-hidden {
    opacity: 0;
    transition: .5s;
}

.classButom{
    margin-bottom: 10px;
}

.tailleIcon{
    height: 100px;
    height: 100px;
    //margin-right: 60px;
    margin-left: -3px;
    margin-top: 4px;
}

ion-header{
    background: #4c8dff;
}


.ionSizeSetting{
    width: 30px;
    height: 30px;
}

.tailleIcon{
    height: 100px;
    height: 100px;
    //margin-right: 60px;
    margin-left: -3px;
    margin-top: 4px;
}

.classButom{
    margin-bottom: 15px;
}


.classSelect{
    border-radius: 30px;
}

.classAlign{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

.colorLigne{
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
}

.badgeIcon{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
}

.iconFolder{
    width: 20px;
    height: 20px;
}

.iconCalendar{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.valeurClass{
    margin-top: 15px;
}

.iconLoading{
    width: 20px;
    height: 20px;
    margin-top: 15px;
}

.smallPP{
    margin-top: 15px;
}

.highlight-color {
    color:blue;
}
