<!--<ion-content>-->
<!--    <div class="container">-->
<!--        <div class="forms-container">-->
<!--            <div class="signin-signup">-->
<!--                <form id="form" #f="ngForm" (ngSubmit)="login1()">-->
<!--                    <ion-item class="ion-margin-bottom">-->
<!--                        <ion-icon slot="end" name="person"></ion-icon>-->
<!--                        <ion-input type="text" [(ngModel)]="loadData.login" required="" name="username" placeholder="login"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <br>-->
<!--                    <ion-item class="ion-margin-bottom">-->
<!--                        <ion-icon slot="end" name="key"></ion-icon>-->
<!--                        <ion-input type="password" placeholder="mot de passe" [(ngModel)]="loadData.password" required="" name="password"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <p></p>-->
<!--                    <ion-button expand="block" type="submit" shape="round">Connexion</ion-button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="panels-container">-->
<!--            <div class="panel left-panel">-->
<!--                <div class="content">-->
<!--                    <img src="assets/images/gainde.jpg" class="rounded-circle im" width="100" height="100">-->
<!--                    <h1>SPPOT</h1>-->
<!--                    <h3>-->
<!--                        indicateur de performance-->
<!--                    </h3>-->
<!--                    <br>-->
<!--                </div>-->
<!--&lt;!&ndash;                <img src="img/log.svg" class="image" alt="" />&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="panel right-panel">-->
<!--                <div class="content">-->
<!--                    <button class="btn transparent" id="sign-in-btn">-->
<!--                        Sign in-->
<!--                    </button>-->
<!--                </div>-->
<!--&lt;!&ndash;                <img src="img/register.svg" class="image" alt="" />&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</ion-content>-->






<ion-content>
    <div class="classDiv1">

    </div>
    <div class="classDiv2">

    </div>

    <div class="classDiv3">

    </div>


    <div class="classDiv4">
        <br>
        <br>
        <div class="forms-container">
            <form id="form" #f="ngForm" (ngSubmit)="login1()">
                <ion-item class="ion-margin-bottom">
                    <ion-icon slot="end" name="person"></ion-icon>
                    <ion-input [(ngModel)]="loadData.login" required="" name="username" placeholder="login"></ion-input>
                </ion-item>

                <ion-item class="ion-margin-bottom">
                    <ion-icon slot="end" name="key"></ion-icon>
                    <ion-input type="password" placeholder="mot de passe" [(ngModel)]="loadData.password" required="" name="password"></ion-input>
                </ion-item>

                <!--                <ion-button expand="block" type="submit" shape="round">Connexion</ion-button>-->
                <ion-button style="width: 310px" expand="block" type="submit" shape="round">Connexion</ion-button>
            </form>

            <br>
            <ion-row style="margin-left: 50px; margin-right: 30px">
                <ion-col>
                    <span>Mot de passe oublié.</span>
                </ion-col>
                <ion-col>
                    <span>Créer un compte.</span>
                </ion-col>
            </ion-row>
        </div>
    </div>


</ion-content>
