<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="monvert">
        <ion-title class="text-white" style="font-size: 18px">
            Bienvenue, {{nom}} {{prenom}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-row class="sticky-row">
        <ion-col size="10">
            <ion-text class="ion-padding-start" color="medium"
                      [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
            </ion-text>
            <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
            <ion-button class="classButom text-white" fill="clear">
                <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-row>
        <ion-col>
            <ion-card class="text-center classSelect">
                <ion-item>
                    <ion-label>Choisir</ion-label>
                    <ion-select value="notifications" (ionChange)="checkfamille($event)">
                        <ion-select-option value=1>Janvier</ion-select-option>
                        <ion-select-option value=2>Février</ion-select-option>
                        <ion-select-option value=3>Mars</ion-select-option>
                        <ion-select-option value=4>Avril</ion-select-option>
                        <ion-select-option value=5>Mai</ion-select-option>
                        <ion-select-option value=6>Juin</ion-select-option>
                        <ion-select-option value=7>Juillet</ion-select-option>
                        <ion-select-option value=8>Août</ion-select-option>
                        <ion-select-option value=9>Septembre</ion-select-option>
                        <ion-select-option value=10>Octobre</ion-select-option>
                        <ion-select-option value=11>Novembre</ion-select-option>
                        <ion-select-option value=12>Décembre</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row class="classAlign">
        <ion-col size="6" [ngClass]="getTextColor('text1')" (click)="setSelectedText('text1')">
            <span>Liste des dossiers</span>
        </ion-col>
        <ion-col size="6" [ngClass]="getTextColor('text2')" (click)="setSelectedText('text2')">
            <span>Etude comparative</span>
        </ion-col>
    </ion-row>

    <div *ngIf="selecteTextId === 'text1'">
        <div>
            <ion-card-content>
                <div class="colorLigne">
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                <ion-badge class="badgeIcon">
                                    <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                                </ion-badge>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconCalendar" name="podium-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p class="valeurClass">Dossiers modifiés</p>
                        </ion-col>

                        <ion-col size="3.5" class="smallPP">
                            <p>{{nbmod}}</p>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-card-content>
        </div>

        <div>
            <ion-card-content>
                <div class="colorLigne">
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                <ion-badge class="badgeIcon">
                                    <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                                </ion-badge>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconCalendar" name="podium-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p class="valeurClass">Dossiers traités</p>
                        </ion-col>

                        <ion-col size="3.5" class="smallPP">
                            <p>{{nbTr}}</p>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-card-content>
        </div>

        <div>
            <ion-card-content>
                <div class="colorLigne">
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                <ion-badge class="badgeIcon">
                                    <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                                </ion-badge>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconCalendar" name="podium-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p class="valeurClass">Dossiers encours</p>
                        </ion-col>

                        <ion-col size="3.5" class="smallPP">
                            <p>{{nben}}</p>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-card-content>
        </div>

        <div>
            <ion-card-content>
                <div class="colorLigne">
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                <ion-badge class="badgeIcon">
                                    <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                                </ion-badge>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconCalendar" name="podium-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p class="valeurClass">Dossiers annulés</p>
                        </ion-col>

                        <ion-col size="3.5" class="smallPP">
                            <p>{{nbAnn}}</p>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-card-content>
        </div>

        <div>
            <ion-card-content>
                <div class="colorLigne">
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                <ion-badge class="badgeIcon">
                                    <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                                </ion-badge>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconCalendar" name="podium-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p class="valeurClass">Dossiers rejetés</p>
                        </ion-col>

                        <ion-col size="3.5" class="smallPP">
                            <p>{{nbRej}}</p>
                        </ion-col>
                    </ion-row>
                </div>

            </ion-card-content>
        </div>
    </div>


    <div *ngIf="selecteTextId === 'text2'">
        <ion-row>

            <ion-col>
                <ion-card class="text-center classSelect">
                    <ion-item no-lines class="genre">
                        <ion-label style="color: black;">Année 1</ion-label>
                        <ion-input type="text" [(ngModel)]="loadData.annee1" required="" name="annee1"
                                   style="color: black; font-weight: bold;"></ion-input>
                    </ion-item>
                </ion-card>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card class="text-center classSelect">
                    <ion-item no-lines class="genre">
                        <ion-label style="color: black;">Année 2</ion-label>
                        <ion-input type="text" [(ngModel)]="loadData.annee2" required="" name="annee2"
                                   style="color: black; font-weight: bold;"></ion-input>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>

        <div class="bouton" style="margin-left: 20px; margin-right: 20px; border-radius: 20px;">
            <ion-button class="shadow-red" color="primary" expand="block" shape="round" (click)="parametrer()"><span>Afficher</span>
            </ion-button>
        </div>
        <p></p>

        <div class="scroll" *ngIf="data2">
            <table class="table table-striped table-bordered"
                   style="margin-left: auto; margin-right: auto; width: 200px;">
                <thead>
                <tr style="font-size: 12px;">
                    <th>Périodes 1</th>
                    <th>Dossiers traités</th>
                    <th>Dossiers annulés</th>
                    <th>Dossiers encours</th>
                    <th>Dossiers modifiés</th>
                    <th>Dossiers rejetés</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of data2" style="font-size: 12px;">
                    <td>{{mois[d.periode - 1]}} {{d.annee}}</td>
                    <td style="text-align: center;">{{d.nbretraites}}</td>
                    <td style="text-align: center;">{{d.nbreannules}}</td>
                    <td style="text-align: center;">{{d.nbreencours}}</td>
                    <td style="text-align: center;">{{d.nbremodifies}}</td>
                    <td style="text-align: center;">{{d.nbrerejetes}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</ion-content>
