<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="monvert">
        <ion-title class="text-white">
            Bienvenue, Bassirou
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon  name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-row class="sticky-row">
        <ion-col size="10">
            <ion-text class="ion-padding-start" color="medium"
                      [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
            </ion-text>
            <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
            <ion-button class="classButom text-white" fill="clear">
                <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>

    <!--------------------------------------Formulaire pour les champs du haut------------------------------------------------>

    <form #f="ngForm">
        <div>
            <ion-row>
                <ion-col>
                    <ion-card class="text-center classSelect">
                        <ion-item>
                            <ion-row>
                                <span>Mois: </span>
                            </ion-row>
                            <ion-row>
                                <ion-input type="text" required="" name="annee1"></ion-input>
                            </ion-row>
                        </ion-item>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card class="text-center classSelect">
                        <ion-item>
                            <ion-row>
                                <span>Année: </span>
                            </ion-row>
                            <ion-row>
                                <ion-input type="text" name="annee2"></ion-input>
                            </ion-row>
                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
    </form>


    <!--------------------------------------Les cards du du menu------------------------------------------------>

    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card (click)="gotoEG()">
                    <ion-badge class="badgeIcon">
                        <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                    </ion-badge>
                    <p></p>
                    <h5 style="margin-left: 13px;">Etat global des dossiers</h5>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card (click)="gotoPC()">
                    <ion-badge class="badgeIcon">
                        <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                    </ion-badge>
                    <p></p>
                    <h5 style="margin-left: 13px;">Performance comparée</h5>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card (click)="gotoTM()">
                    <ion-badge class="badgeIcon">
                        <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                    </ion-badge>
                    <p></p>
                    <h5 style="margin-left: 13px;">Tendance <br>moyenne(heure)</h5>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card (click)="gotoPT()">
                    <ion-badge class="badgeIcon">
                        <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                    </ion-badge>
                    <p></p>
                    <h5 style="margin-left: 13px">Classement <br>par temps</h5>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-card (click)="gotoCDossier()">
                    <ion-badge class="badgeIcon">
                        <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                    </ion-badge>
                    <p></p>
                    <h5 style="margin-left: 13px;">Classement <br>par dossiers</h5>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card (click)="gotoTE()">
                    <ion-badge class="badgeIcon">
                        <ion-icon class="iconFolder" name="folder"></ion-icon>
                    </ion-badge>
                    <p></p>
                    <h5 style="margin-left: 13px;">Tendance et évolution</h5>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
