<ion-header [translucent]="true" scrollEvents="true" (ionScroll)="onScroll($event)">
    <ion-toolbar color="monvert">
        <ion-back-button slot="start" color="white" defaultHref="/tabs/home"></ion-back-button>
        <ion-title class="text-white" style="font-size: 19px">Classement par dossier</ion-title>
        <ion-buttons slot="end">
            <ion-button class="text-white">
                <ion-icon name="cog-outline" class="ionSizeSetting" slot="end"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-row class="sticky-row">
        <ion-col size="10">
            <ion-text class="ion-padding-start" color="medium"
                      [ngClass]="{'location-visible': showLocationDetail, 'location-hidden': !showLocationDetail}">
            </ion-text>
            <ion-searchbar placeholder="Votre recherche ici"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
            <ion-button class="classButom text-white" fill="clear">
                <ion-icon class="tailleIcon" name="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <br>

    <ion-row>
        <ion-col>
            <ion-card class="text-center classSelect">
                <ion-item>
                    <ion-label>Choisir</ion-label>
                    <ion-select value="notifications" (ionChange)="checkfamille($event)">
                        <ion-select-option value="AC">ASSURANCES</ion-select-option>
                        <ion-select-option value="CO,OB">DPI</ion-select-option>
                        <ion-select-option value="BQ">BANQUES</ion-select-option>
                        <ion-select-option value="PP">PÔLES PUBLICS</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>

    <ion-row style="margin-left: 15px; margin-right: 15px">
        <ion-col>
            <div>
                <ion-button class="active" expand="full" color="primary" (click)="delai()" shape="round">
                    <ion-icon name="hourglass-outline"></ion-icon>
                    Délai
                </ion-button>
            </div>
        </ion-col>

        <ion-col>
            <div>
                <ion-button class="active" expand="full" color="primary" (click)="duree()" shape="round">
                    <ion-icon name="time-outline"></ion-icon>
                    Durée
                </ion-button>
            </div>
        </ion-col>
    </ion-row>


    <ion-row class="classAlign">
        <ion-col size="8" [ngClass]="getTextColor('text1')" (click)="setSelectedText('text1')">
            <span>Liste des dossiers</span>
        </ion-col>
        <ion-col size="4" [ngClass]="getTextColor('text2')" (click)="setSelectedText('text2')">
            <span (click)="openGraph()">Graphique</span>
        </ion-col>
    </ion-row>

    <div *ngIf="selecteTextId === 'text1'">
        <div *ngFor="let d of data">
            <ion-card-content>
                <div class="colorLigne">
                    <ion-row>
                        <ion-col>
                            <ion-text>
                                <ion-badge class="badgeIcon">
                                    <ion-icon class="iconFolder text-white" name="folder"></ion-icon>
                                </ion-badge>
                            </ion-text>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconCalendar" name="podium-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                            <p class="valeurClass">{{d.nomPole}}</p>
                        </ion-col>
                        <ion-col>
                            <ion-icon class="iconLoading" name="timer-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="3.5" class="smallPP">
                            <p>{{ conversion(d.dureeDossierLePlusLong)}}</p>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-card-content>
        </div>
    </div>

    <div *ngIf="selecteTextId === 'text2'">
        <ion-card>
            <ion-card-header></ion-card-header>
            <ion-card-content>
                <div [chart]="chartOptions" style="width:80%; height:390px;margin:auto;"></div>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>
